body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(50, 50, 65);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  background-color: #92879b !important;
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.15) !important;
  backdrop-filter: blur(5px) !important;
}

.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-margins {
  margin-top: -80px;
  margin-left: -5px;
  height: 110vh;
}

.parallax > h2 {
  position: relative;
  font-size: 3em;
  text-align: center;
  padding: 10px;
}

.parallax > .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parallax > .top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.display-img-holder > .display-img {
  width: 60%;
  margin: 0 auto;
  z-index: 2;
  border-radius: 10px;
  border: 2px solid #92879b;
}

.display-img-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  margin-top: -80px;
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero > h2 {
  position: relative;
  color: white;
  font-size: 3em;
  text-align: center;
  padding: 10px;
}

.hero > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(000, 000, 000, 0.5);
}
